/* style.css */

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
}

#banner img {
    width: 90%;
    height: 500px;
}

.card {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
}

/* Responsividade */
@media (max-width: 768px) {
    #destaques .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
}
